# Copyright (c) 2024 The ZMK Contributors
# SPDX-License-Identifier: MIT

DT_COMPAT_DRV2605 := ti,drv2605

menuconfig DRV2605
  bool "DRV2605 haptic motor driver"
  default $(dt_compat_enabled,$(DT_COMPAT_DRV2605))
  select I2C
  help
      Enable DRV2605 haptic motor driver.

if DRV2605

module = DRV2605
module-str = DRV2605
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"

endif #DRV2605
